html, body { padding: 0; margin: 0; font-family: 'Montserrat', helvetica, sans-serif; background: #222; color: #fff; font-size: 40pt; line-height: 1.5; padding: 2%; }
h1 { margin: 0; padding: 0; }
.teletype-prefix, .teletype-cursor { color: #00bd9c; }
